    body{
      margin: 0px;
      background: rgba(0, 118, 216, 1);
    }

    .companylogo{
      height: 104px;
      padding-left: 11px;
      padding-top: 5px;
    }

    .label {
      color: #ffffff;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      margin-top: 7px;
      display: inline-block;
      width:123px;
      font-size: 14px;
    }

    .title{
      position: sticky;
      top: 0;
      display: flex;
      background: #0068D4;
      background: linear-gradient(0deg,rgba(0, 104, 212, 1) 0%, rgba(0, 118, 216, 1) 100%);
      flex-wrap: wrap;
      font-family: "novecento-sans", sans-serif;
      color: #e0e0e0;
      margin:auto;
      width: 100%;
      text-align: center;
    }

    .thumbnail-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* always 2 columns */
        justify-items: center;
        background-color: white;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding-top: -5px;
        padding-bottom: 93px;
    }
    
    /* === Thumbnail Image === */
    .thumbnail-img {
        width: 142px;
        height: 135px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .thumbnail-img:hover {
        transform: scale(1.05);
    }
        
    .thumbnail-link {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      transition: border 0.2s, box-shadow 0.2s;
      /* set the border of the choose button*/
      padding: 9px;
      margin: 12px;
      background-color:#2957aa;
    }
    
    .thumbnail-link.selected  {
      border: 6px solid rgb(239, 120, 0);
      padding: 5px;

    }
    
    .hosokawalogo{
      padding-top: 27px;
      padding-bottom: 26px;
      height: 35px;
      margin: auto;
    }

    .foot {
      background-color: rgba(0, 30, 193, 1);
      width: 100%;
      height: 82px;
      text-align: center;
      margin: 0 auto;         /* centraliza como o container */
      box-sizing: border-box;
    }
    

    .brand {
        display: inline;
        color: black;
    }

    .catalog {
        display: block;
        color: #e0e0e0;
        font-size: 28px;
    }

    #view-model-btn {
      position: fixed;
      bottom: -5px; /* Distance from the bottom of the screen */
      left: 50%;
      transform: translateX(-50%);
      font-size: 27px;
      color: white;
      cursor: pointer;
    }


    /* Optional: Shrink button slightly on smaller screens */
    @media screen and (max-width: 600px) and (orientation: landscape){
      #view-model-btn {
        width: 100px;
        height: 100px;
        font-size: 24px;
        color: #e0e0e0;
      }
      .thumbnail-container {
        max-width: 600px;
        width: 50%;
      }
    }

    @media screen and (orientation: landscape){
      .thumbnail-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* always 2 columns */
        width: 76%;
      }
    }